<div class="container px-4 py-5 text-center">
    <img src="/img/AdminMode.png" class="mt-1 mb-5" width="500px">

    <div class="row my-4">
        <div class="col-6">
            <div class="text-center">
                <h5 class="fw-bold my-3"><img src="/img/plus-circle-dotted.svg" class="me-2" width="41px"
                        height="41px">AGREGAR ZAPATOS</h5>

                <div class="d-grid gap-2 col-2 mx-auto">
                    <a href="/agregaradm" class="btn btn-lg btn-outline-success">
                        Agregar
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="text-center">
                <h5 class="fw-bold my-3"><img src="/img/change_circle_FILL0_wght400_GRAD0_opsz48.svg" class="me-2"
                        width="41px" height="41px">EDITAR
                    ZAPATOS</h5>

                <div class="d-grid gap-2 col-2 mx-auto">
                    <a href="/editaradm" class="btn btn-lg btn-outline-primary">
                        Editar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>