<div class="d-flex flex-column align-items-center justify-content-center m-4">
    <img src="/img/AdminMode.png" class="my-1" width="500px">
    <br />
    <div class="card text-center w-50 mb-4">
        <div class="card-body px-5">
            <h5 class="fw-bold my-3"><img src="/img/change_circle_FILL0_wght400_GRAD0_opsz48.svg" class="me-2 pb-1"
                    width="41px" height="41px">EDITAR
                ZAPATOS</h5>
            <br />
            <div>
                <h2>editar</h2>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a href="/links/admin" class="btn btn-lg btn-outline-danger">Volver</a>
    </div>
</div>