<section class="bg-danger">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-5 col-lg-6 col-xl-5">
                <div class="card shadow-lg shadow-3-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 pb-4 text-center">
                        <img src="/img/shoe.png" width="65" height="75">
                        <h3 class="mb-5">Inicia Sesión en <b>
                            <a href="/links/add" class="text-primary text-decoration-none">ShoesLovers</a>
                                    </b>
                            </h3>

                                <form action="/links/inicio" method="post">
                                    <div class="form-outline mb-4">
                                        <input type="email" id="typeEmailX-2" name="email" class="form-control form-control-lg" />
                                        <label class="d-flex form-label" for="typeEmailX-2">Email</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="typePasswordX-2" name="password" class="form-control form-control-lg" />
                                        <label class="d-flex form-label" for="typePasswordX-2">Contraseña</label>
                                    </div>

                                    <!-- Checkbox -->
                                    <div class="d-flex form-check mb-4">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Recordar Contraseña
                                        </label>
                                    </div>

                                    <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Iniciar
                                        Sesión</button>

                                    <hr class="my-4">
                                    
                                    <button type="button" class="btn btn-google btn-lg btn-block mb-2">Iniciar
                                        Sesión con Google</button>

                                    <button type="button" class="btn btn-sms btn-lg btn-block mb-2">Iniciar
                                        Sesión con SMS</button>
                                    </div>
                                </form>   
                    </div>
                </div>
            </div>
        </div>
</section>