<div class="container py-4 d-flex align-items-center justify-content-center">
  <div
    class="col-lg-4 d-flex flex-column align-items-center justify-content-center"
  >
    <img
      src="/img/perfil1.jfif"
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
    />
    <div class="d-flex align-items-center">
      <h2>Nombre Apellido</h2>
    </div>
    <hr />
    <div class="d-flex align-items-center">
      <p class="m-0">Descripción del usuario xdxd xd</p>
    </div>
    <div class="d-flex align-items-center pt-2">
      <p><a class="btn btn-outline-dark" href="#">Editar &raquo;</a></p>
    </div>
  </div>
</div>