<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesLovers - Unisex</title>
    <!-- Boostrap styles -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/shoe.png" type="image/x-icon" />
    <!-- Google fonts && Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- JS auth -->
</head>

<body>
    <!-- {{message}}  -->
    {{{ body }}}


</body>

</html>